/****************************** Universal Styles ******************************/
html {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  /* font-size: 2vw; */
}

body {
  background-color: rgb(255, 242,  242);
  color: rgb(32, 64, 86);
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  color: rgb(74, 74, 74);
  padding: 1rem;
}

/******************************* Tags in Header *******************************/
header {
  position: fixed;
  height: 3rem;
  width: 100%;
  top: 0;

  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0 1rem 0;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
}

.header-limiter {
  max-width: 1200px; /* limits the width of the header content */
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  margin-left: 1.5rem;
}

nav {
  display: flex;
  align-items: flex-end;

  margin-right: 1.5rem;
}

ul {
  display: inline-flex;
}

li {
  padding-left: 1rem;
}

li a {
  padding: 0 5px;
  text-decoration: none;
  color: #000000;
  font-size: 1.5rem;
  font-weight: bold;
  opacity: 0.6;
}

.nodisplay,
.desktop-menu {
  display: none;
}

footer {
  position: absolute;
  height: 3rem;
  width: 100%;
  bottom: 0;

  border-top: 1px solid #ccc;
  padding: 1rem 0 0.5rem 0;
  /* margin-top: 0.5rem; */
  box-sizing: border-box;
}

.footer-limiter {
  max-width: 1200px; /* limits the width of the header content */
  text-align: center;
  margin: 0 auto;
  /* display: flex;
  justify-content: space-between; */
}

.timer {
  display: block;
}

footer a {
  float: right;
  margin-right: 1.5rem;
}

@media screen and (min-width: 445px) {
  h1 {
    font-size: 2.5rem;
  }

  header,
  footer {
    height: 4rem;
  }

  .game-board {
    padding: 4.5rem 0;
  }
}

@media screen and (min-width: 778px) {
  .desktop-menu {
    display: inherit;
  }

  .mobile-menu {
    display: none;
  }
}

/***************************** Tags in Game Board *****************************/
.game-board {
  padding: 3.5rem 0;
  margin: 5px auto;
  width: 500px;
}

.game-row {
  display: flex;
  justify-content: space-around;

  padding: 0;
  margin: 0;
}

.card {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  height: auto;
  margin: 0;

  border: 4px solid #ffffff;
  border-radius: 8px;
  background-color: rgb(32, 64, 86);

  font-family: 'Roboto Mono', monospace;
  /* text-align: center;
  line-height: 14rem; */
  font-weight: 900;
  font-size: 7rem;
  color: rgb(255, 255, 255);

  cursor: pointer;
}

.card:before {
  content: '';
  float: left;
  padding-top: 100%;
}

/**************************** Custom Modal Dialog  ****************************/
/* covers the background */
.custom_block_page {
  display: none;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  background-color: rgba(0,0,0,0.6);
}

/* outer box ($pop_up) */
.custom_modal_box {
  display: none;
  z-index: 50;
  position: absolute;
  left: 10%;
  top: 20%;

  height: auto;
  width: 80%;

  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 7px #292929;
    -moz-box-shadow: 0px 2px 7px #292929;
    -webkit-box-shadow: 0px 2px 7px #292929;
  border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

  /* this color is based off of the background color in the inner at .5 opacity (opacity won't work here without using RGBA) */
  background: #aba4a4;
}

/* inner box */
.custom_inner_modal_box {
  /* height & width need to subtract the sum of padding + margin */
  height: calc(100% - 60px);
  width: calc(100% - 60px);
  padding: 15px;
  margin: 15px; /* outside of the box's border */
  /* overflow: visible; */

  border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

  /* customize this for the site */
  background-color: #F1E8E8;
}

/* close button (floats up and to the right) */
.custom_modal_close {
  display: block;
  position: relative;
  float: right;
  top: -25px;
  left: 20px;

  height: 50px;
  width: 50px;

  background: url('../images/Actions-window-close-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
}

/******************* Custom Modal Dialog additional formats *******************/
#playAgain {
  text-align: center;
}

#custom-content {
  margin: 2rem auto;
}

/* mostly copied from a bootstrap button */
.btn-info {
  display: inline-block;
  margin-bottom: 0;

  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  border: 1px solid transparent;

  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  background-image: none;
  color: #fff;
  background-color: #9FAB87;
  border-color: #B4B38B;

  user-select: none;
  cursor: pointer;
}

.btn-info:hover,
.btn-info:active {
  background-color: #C9BB90;
  border-color: #D4D1A9;
  outline: none;
}

.btn-info:focus {
  background-color: #C9BB90;
  border-color: #DFFEE0;
  outline: none;
}

.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover {
  background-color: #D4D1A9;
  border-color: #DFFEE0;
  outline: none;
}

/*
greens (from palletron):
normal: #9FAB87/#B4B38B
hover: #C9BB90/#D4D1A9
active: #C9BB90/#D4D1A9
focus: #C9BB90/#DFFEE0
other: #D4D1A9/#DFFEE0

blues (bootstrap original colors):
normal: #5bc0de/#46b8da
hover: #31b0d5/#269abc
active: #31b0d5/#269abc
focus: #31b0d5/#1b6d85
other: #269abc/#1b6d85
*/
