/*********************************** Fonts  ***********************************/
/************* Work Sans  *************/
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans'), local('WorkSans-Regular'), url(https://fonts.gstatic.com/s/worksans/v3/ElUAY9q6T0Ayx4zWzW63VFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Work Sans Bold'), local('WorkSans-Bold'), url(https://fonts.gstatic.com/s/worksans/v3/4udXuXg54JlPEP5iKO5Amegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 900;
  src: local('Work Sans Black'), local('WorkSans-Black'), url(https://fonts.gstatic.com/s/worksans/v3/Hjn0acvjHfjY_vAK9Uc6gugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/****************************** Universal Styles ******************************/

/* change from normal HTML to body so styles aren't overridden by bootstrap */
body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  background-color: rgb(255, 242,  242);
  color: rgb(32, 64, 86);
}

/******************************** Insturctions ********************************/

.container {
  margin-top: 0;
}

@media screen and (min-width: 992px) {
  .container {
    margin-top: 5.25rem;
  }
}

h1 {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
  color: rgb(74, 74, 74);
  margin-bottom: 2.5rem;
}

.panel-body p:last-child {
  margin-bottom: 0;
}

.panel {
  margin-bottom: 2.5rem;
}

.panel > .panel-heading {
  background-image: none;
  background-color: #F1E8E8;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
  background-image: none;
  background-color: #F1E8E8;
  border-top: none;
  padding-top: 0;
}

/* Icon when the collapsible content is shown */
.panel-title a:after {
  font-family: "Glyphicons Halflings";
  content: "\e114";
  float: right;
}

/* Icon when the collapsible content is hidden */
.panel-title a.collapsed:after {
    content: "\e080";
}
/********************************* Game Board *********************************/

.card {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 12.5rem;
  /* max-width: 12.5rem; */
  border: 4px solid #ffffff;
  border-radius: 8px;
  background-color: rgb(32, 64, 86);

  font-weight: 900;
  font-size: 7rem;
  color: rgb(255, 255, 255);

  cursor: pointer;
}
