/****************************** Universal Styles ******************************/
html {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}

body {
  background-color: rgb(255, 242,  242);
  color: rgb(32, 64, 86);
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 0;
}

header {
  box-shadow: 0 1px 1px #ccc;
  padding: .5rem .0 1rem 0;
  /* height: 80px; */
  box-sizing: border-box;
}

.header-limiter {
  max-width: 1200px; /* limits the width of the header content */
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  margin-left: 1.5rem;
}

nav {
  display: flex;
  align-items: flex-end;

  margin-right: 1.5rem;
}

ul {
  display: inline-flex;
}

li {
  padding-left: 1rem;
}

li a {
  padding: 0 5px;
  text-decoration: none;
  color: #000000;
  font-size: 1.5rem;
  font-weight: bold;
  opacity: 0.6;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    width: 80%;
    z-index: 1;
    margin: 0 auto;

    background-color: #F1E8E8;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    text-align: left;
    padding: 1rem;
    line-height: 1.5rem;
}

.dropdown-content h2:first-child {
  padding-top: 0;
  display: inline-block;
}

/* .rules  */
.fa-times {
  float: right;
  font-size: 1.5rem;
}

.desktop-menu {
  display: none;
}

@media screen and (min-width: 445px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 778px) {
  .desktop-menu {
    display: inherit;
  }

  .mobile-menu {
    display: none;
  }
}
